@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}

button {
  padding: 12px 25px;
  outline: 0;
  border: 0;
  color: inherit;
  background: inherit;
  animation: fadein 4s linear;
  transition: 2s linear;
  cursor: pointer;
}

button:hover .fa-solid {
  transform: rotate(-45deg);
  transition: 1s linear;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.active {
  color: red;
}

.dark-nav {
  background: #343434;
}

.nav-links {
  display: none;
}

a:hover .fa-solid {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
}

.content {
  display: none;
  transition: all 0.3s linear;
  padding-top: 400px;
}

.port:hover .content {
  display: flex;
  transition: all 0.3s;
  padding: 20px;
}

.home {
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(../src/assets/herobg.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
  cursor: pointer;
}

img:hover {
}
